 body{
        background-color: rgb(176, 118, 231);
        color: aliceblue;
    }
    #html{
        color: rgb(18, 18, 231);
    }
    #CSS{
        color: rgb(142, 44, 235);
    }
    #javaScript{
        color: rgb(35, 5, 65);
    }
