 body{
        background-color: rgb(176, 118, 231);
        color: aliceblue;
    }
    #html{
        color: rgb(13, 13, 233);
    }
    #CSS{
        color: blueviolet;
    }
    #javaScript{
        color: rgb(39, 4, 75);
    }
